      </div><!-- container -->
    </div><!-- main -->
    
    <footer id="footer">
      <div id="toggle">
        <div class="container">
        <div id="plus-glyph">+</div>
        </div>
      </div>
      <div id="footer_nav">
        <div class="row">
          <div class="container">
            <div class="column span3">
              <h3>Life</h3>
              <% articles = Article.find_all('life') %>
              <ul>
                <% articles.each do |a| %>
                <li><a href="<%= a.permalink %>" title="<%= a.title %>"><%= a.title %></a></li>
                <% end %>
              </ul>
            </div><!-- column -->
            <div class="column span3">
              <h3>Work</h3>
              <% articles = Article.find_all('work') %>
              <ul>
                <% articles.each do |a| %>
                <li><a href="<%= a.permalink %>" title="<%= a.title %>"><%= a.title %></a></li>
                <% end %>
              </ul>
            </div><!-- column -->
            <div class="column span3">
              <h3>Visit</h3>
              <ul>
                <li><a href="/visit#evening" title="Experience An Evening">Experience An Evening</a></li>
                <li><a href="/visit#weekend" title="Spend A Weekend">Spend A Weekend</a></li>
              </ul>
            </div><!-- column -->
            <div class="offset10" id="cowork_credit">
              <p>This site was lovingly handcrafted by the people at <a href="http://coworkgreenville.com" title="Learn more about CoWork Greenville">CoWork Greenville</a> in the span of a single weekend. We wanted to create something beautiful to give back to the city we love&mdash;something we can share with the world.</p>
              <p>To find out more about the people and organizations involved in the project, check out the <a href="/credits">Site Credits</a>.</p>
            </div>
          </div><!-- container -->
        </div><!-- .row -->
        <div class="row cf" id="site_credits">
          <div class="container">
            <p class="first span">A Product of <a href="http://coworkgreenville.com" title="Learn more about CoWork!">CoWork Greenville</a>.</p>
            <p class="second">Photography provided by <a href="http://www.getzcreative.com">Getz Creative</a>.</p>
          </div><!-- container -->
        </div><!-- .row#site_credits -->
      </div><!-- #footer_nav -->
    </footer>
  </div> <!-- #wrapper -->
  </body>
</html>
