<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Life in Greenville</title>
    <meta name="description" content="">
    <meta name="author" content="CoWork Greenville">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="http://use.typekit.com/rsw3oiq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="/javascripts/jquery.scrollTo-1.4.2-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.fitvids.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/parallax.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/detectmobilebrowser.js" type="text/javascript" charset="utf-8"></script>  

    <!-- Styles -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!--[if IE]>
    <script src="/javascripts/respond.min.js" type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    <!-- Google Webmaster Tools Verification -->
    <meta name="google-site-verification" content="a26bhn2SCZjltM5_GWNGkwKALaMWYrTftDd80nWLPHk" />

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28171834-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>

  <body class="<%= params[:category] || 'home'%><%= params[:name] ? " page-#{params[:name]}" : nil %>">
  
  <div id="wrapper">
  <% unless params[:category] == 'visit' %>
  <a id="visit" href="/visit">
    <img src="/images/trip2.gif">
    Plan a visit
  </a>
  <% end %>

  <nav>
    <div class="container">
      <h1><a href="/">Life in Greenville South Carolina</a></h1>
      <ul>
        <li><a href="/life" class="life">Life</a></li>
        <li><a href="/work" class="work">Work</a></li>
      </ul>
    </div>
  </nav>

  <% if settings.ignore_header == true && params[:category] == 'visit' %>
  <header>
    <div class="container">
      <div class="headline">
        <h1>Plan A Visit</h1>
      </div>
    </div>
  </header>
  <% elsif settings.ignore_header == true && params[:category] == 'credits' %>
  <header>
    <div class="container">
      <div class="headline">
        <h2>Site Credits</h2>
      </div>
    </div>
  </header>
  <% elsif settings.ignore_header == false %>
  <header>
    <div class="container">

      <div class="headline">
        <h1><%= category.name.capitalize %></h1>
        <% if params[:name] %>
        <span class="forward">/</span>
        <h2><%= data[:banner_sub_headline] %></h2>
        <% end %>
        <br>
        <h3><%= data[:banner_tagline] %></h3>
      </div>
      
      <div class="caption">
        <h3>Photo Description:</h3>
        <p><%= data[:banner_image_caption] %></p>
      </div>
      <!-- <span class="credit">Photo Credit: <a href="#">Getz Creative</a></span> -->
    </div>
  </header>
  <div class="crumb-wrapper">
  	<div class="container breadcrumbs"><%= render_breadcrumb %></div>
  </div>
  <% end %>

  <div class="main outer">
    <div class="container">
