<%= erb :'shared/header', :locals => locals %>

  <section class="organization" id="cowork">
    <img src="/images/cowork_logo.png" alt="CoWork Greenville Logo"/>
    <div class="info cf">
      <h3 class="title">CoWork</h3>
      <div class="meta">
        <a href="http://twitter.com/cowork" title="Follow us on Twitter!" title="_blank">@cowork</a>
        <span> | </span>
        <a href="http://coworkgreenville.com" title="Check out more about CoWork">http://coworkgreenville.com</a>
        <span> | </span>
        <a href="mailto:info@coworkgreenville.com" title="Email us (we promise to write back)!">info@coworkgreenville.com</a>
      </div>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->
    <% people = [
      {
        name: "Matthew Smith",
        role: "Designer",
        twitter: "whale",
        website: "http://squaredeye.com",
        about: "Member of CoWork"
      },
      {
        name: "Marco Suarez",
        role: "Designer",
        twitter: "marcosuarez",
        website: "http://marcosuarez.com",
        about: "Member of CoWork"
      },
      {
        name: "Andrew Ramos",
        role: "Designer",
        twitter: "andrewramos",
        website: "http://andrewramos.com",
        about: "Member of CoWork"
      },
      {
        name: "Jeremy Jantz",
        role: "Designer",
        twitter: "jeremyjantz",
        website: "http://headlampcreative.com",
        about: "Member of CoWork"
      },
      {
        name: "Mason Stewart",
        role: "Developer",
        twitter: "masondesu",
        website: "http://masondesu.com",
        about: "Member of CoWork"
      },
      {
        name: "Ronnie Taylor",
        role: "Developer",
        twitter: "rontec76",
        website: "http://ronnietaylor.com",
        about: "Member of CoWork"
      },
      {
        name: "Mark Johnson",
        role: "Developer",
        twitter: "wmdmark",
        website: "http://duointeractive.com",
        about: "Member of CoWork"
      },
      {
        name: "Alan Rodgers",
        role: "Developer",
        website: "http://ronnietaylor.com",
        about: "Member of CoWork"
      },
      {
        name: "Ryan Wood",
        role: "Developer",
        twitter: "ryanwood",
        website: "http://sourcescape.com",
        about: "Member of CoWork"
      },
      {
        name: "Sean Gaffney",
        role: "Developer",
        twitter: "seangaffney",
        website: "http://seangaffney.cc",
        about: "Member of CoWork"
      },
      {
        name: "Marshall Klickman",
        role: "Developer",
        twitter: "mklickman",
        about: "Member of CoWork"
      },
      {
        name: "Chandler Van De Water",
        role: "Developer",
        twitter: "chandlervdw",
        website: "http://chandlervdw.com",
        about: "Volunteer"
      },
      {
        name: "Paul Johnson",
        role: "Content Developer",
        twitter: "paul_johnson",
        website: "http://duointeractive.com",
        about: "Member of CoWork"
      },
      {
        name: "Dodd Caldwell",
        role: "Content Developer",
        twitter: "doddcaldwell",
        about: "Member of CoWork"
      },
      {
        name: "Chris Merritt",
        role: "Content Developer",
        twitter: "chrismerritt",
        website: "http://chrismerritt.tumblr.com",
        about: "Volunteer"
      },
      {
        name: "Peter Barth",
        role: "Content Developer",
        twitter: "peterbarth",
        website: "http://thenextbig.co",
        about: "Volunteer"
      },
      {
        name: "Katie Stewart",
        role: "Content Developer",
        twitter: "chaithoughts",
        website: "http://about.me/katiestewart",
        about: "Volunteer"
      },
      {
        name: "Elizabeth Ramos",
        role: "Content Developer",
        twitter: "elizabethramos",
        website: "http://elizabethramos.com",
        about: "Volunteer"
      },
      {
        name: "Erin Godbey",
        role: "Content Developer",
        twitter: "eringodbey",
        website: "http://indiecraftparade.com",
        about: "Volunteer"
      },
      {
        name: "Jamin Jantz",
        role: "Project Manager",
        twitter: "jaminjantz",
        about: "Member of CoWork"
      },
      {
        name: "Matthew Cook",
        role: "Project Manager",
        twitter: "mattecook",
        about: "Member of CoWork"
      },
      {
        name: "TJ &amp; Michelle Getz",
        role: "Photographers",
        twitter: "getzcreative",
        website: "http://getzcreative.com",
        about: "Volunteers"
      },
      {
        name: "Bryan Martin",
        role: "Photographer",
        twitter: "bryanrmartin",
        about: "Member of CoWork"
      }
   ] %>

    <ul id="people">
      <% people.each_with_index do |p, i| %>
      <li class="span8 <%= i % 2 == 1 ? 'alpha' : '' %>column alpha">
        <span class="avatar-frame">
          <img class="avatar" alt="Photo of <%= p[:name] %>" src="http://placehold.it/90/90"/>
        </span>
        <div class="person_info">
          <h5><%= p[:name] %> <span class="role">/ <%= p[:role] %></span></h5>
          <div class="meta">
            <% if p[:twitter] %>
            <a href="http://twitter.com/<%= p[:twitter] %>" title="Follow <%= p[:name] %> on Twitter" target="_blank">@<%= p[:twitter] %></a>
            <% end %>
            <% if p[:website] && p[:twitter] %>
            <span> | </span>
            <% end %>
            <% if p[:website] %>
            <a href="<%= p[:website] %>" title="<%= p[:name] %>'s Website" target="_blank"><%= p[:website] %></a>
            <% end %>
          </div>
          <p><%= p[:about] %></p>
        </div><!-- .info -->
      </li>
      <% end %>
    </ul><!-- #people -->
  </section><!-- .organization#cowork -->
  
  <section class="organization" id="getz_creative">
    <img src="#" alt="Getz Creative Logo"/>
    <div class="person_info">
      <h3 class="title">Getz Creative</h3>
      <ul>
        <li><a href="http://twitter.com/getzcreative" title="Follow us on Twitter!" title="_blank">@getzcreative</a></li>
        <li><a href="http://getzcreative.com" title="Check out more about Getz Creative">http://getzcreative.com</a></li>
        <li class="last"><a href="mailto:shootme@getzcreative.com" title="Email us (we promise to write back)!">shootme@getzcreative.com</a></li>
      </ul>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->
  </section><!-- .organization#getz_creative -->

  <section class="organization" id="next_big_thing">  
    <img src="#" alt="The Next Big Thing Logo"/>
    <div class="info cf">
      <h3 class="title">The Next Big Thing</h3>
      <ul>
        <li><a href="http://twitter.com/thenextbigco" title="Follow us on Twitter!" title="_blank">@thenextbigco</a></li>
        <li><a href="http://thenextbig.co/greenville.html" title="Check out more about The Next Big Thing">http://thenextbig.co/greenville.html</a></li>
        <li class="last"><a href="mailto:info@thenextbig.co?Subject=General Inquiry" title="Email us">info@thenextbig.co</a></li>
      </ul>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->
  </section><!-- .organization#next_big_thing -->
  
  <section class="organization" id="greenville_chamber">  
    <img src="#" alt="Greenville Chamber of Commerce Logo"/>
    <div class="info cf">
      <h3 class="title">Greenville Chamber of Commerce</h3>
      <ul>
        <li><a href="http://twitter.com/gvillechamber" title="Follow us on Twitter!" title="_blank">@gvillechamber</a></li>
        <li class="last"><a href="http://greenvillechamber.org" title="Check out more about the Greenville Chamber of Commerce">http://greenvillechamber.org</a></li>
      </ul>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->
  </section><!-- .organization#next_big_thing -->
  
  <section class="organization" id="indiecraft">
    <img src="#" alt="Indie Craft Parade Logo"/>
    <div class="info cf">
      <h3 class="title">Indie Craft Parade</h3>
      <ul>
        <li><a href="http://twitter.com/craftparade" title="Follow us on Twitter!" title="_blank">@craftparade</a></li>
        <li><a href="http://indiecraftparade.com" title="Check out more about the Indie Craft Parade">http://indiecraftparade.com</a></li>
        <li class="last"><a href="mailto:info@indiecraftparade.com" title="Email us (we promise to write back)!">info@indiecraftparade.com</a></li>
      </ul>
      <p>commodo nisl non erat ullamcorper dignissim. Curabitur et augue felis, sed volutpat nunc. Vivamus accumsan ligula ac augue lacinia gravida. Constur adipiscing elit. Sed vel libero ante, et faucibus nunc. Vivamus.</p>
    </div><!-- .info -->
  </section><!-- .organization#getz_creative -->
  
<%= erb :'shared/footer', :locals => locals %>