<%= erb :'shared/header', :locals => locals %>

<div id="categories" class="row">
  
  <% articles.each_with_index do |a, i| %>
  <div class="span<%= i % 3 == 1 ? 6 : 5 %>">
    <div class="content">
      <h2><a href="<%= a.permalink %>" title="<%= a.title %>"><%= a.title %></a></h2>
      <p><%= a.description %></p>
      <a class="catlink" href="<%= a.permalink %>" title="<%= a.title %>"><img src="/images/categories/<%= a.metadata[:category_image] %>" width="250" height="214" /></a>
    </div><!-- /.content -->
  </div>
<% end %>

</div><!-- /#categories -->

<%= erb :'shared/footer', :locals => locals %>
